# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
dist/

.env
streamx-backend/.env

streamx-backend/.venv/
__pycache__/
*.pyc

*.db

streamx-backend/uploads/videos/*
streamx-backend/uploads/posters/*
streamx-backend/uploads/banners/*
